@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url(./fonts.css);

@layer base {
	:root {
		--background: 237 232 232;
		--text: 43 3 5;
		--primary: 129 9 13;
		--secondary: 245 194 112;
		--accent: 106 54 36;
		--elevation-one: 187 183 183;
	}

	[data-theme='dark'] {
		--background: 23 18 18;
		--text: 252 212 214;
		--primary: 246 126 130;
		--secondary: 143 92 10;
		--accent: 219 166 149;
		--elevation-one: 55 45 45;
	}
}

html {
	@apply scroll-smooth antialiased;
}

body {
	background-image: url('$lib/assets/images/noise.png');
	background-size: 150px 150px;
	background-position: 0 0;
	@apply bg-background font-inter text-text;
}

h1,
h2,
h3,
h4 {
	font-family: 'Incognito', 'Inter', sans-serif;
}
