@font-face {
	font-family: 'Incognito';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(/fonts/incognito/incognito_regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Incognito';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: url(/fonts/incognito/incognito_medium.woff2) format('woff2');
}

@font-face {
	font-family: 'Incognito';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url(/fonts/incognito/incognito_condensed.woff2) format('woff2');
}

@font-face {
	font-family: 'Incognito';
	font-style: normal;
	font-display: swap;
	font-weight: 800;
	src: url(/fonts/incognito/incognito_bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(/fonts/inter/inter-latin-400-normal.woff2) format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: url(/fonts/inter/inter-latin-600-normal.woff2) format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url(/fonts/inter/inter-latin-700-normal.woff2) format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	font-weight: 800;
	src: url(/fonts/inter/inter-latin-800-normal.woff2) format('woff2');
}
